interactions:
- request:
    body: '{"Scope": "Local", "Page": 1, "Rp": 200}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListPolicies
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - bb309aee-edc5-43b8-b423-206a75933f66
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\":{\"ServiceTypeList\":[],\"List\":[{\"PolicyId\":239026683,\"PolicyName\":\"policygen-20250423163246\",\"Type\":1,\"Description\":\"\",\"CreateMode\":2,\"Attachments\":1,\"ServiceType\":\"\",\"IsAttached\":null,\"IsServiceLinkedPolicy\":0,\"AttachEntityCount\":1,\"AttachEntityBoundaryCount\":0,\"AddTime\":\"2025-04-23
        16:32:49\",\"UpdateTime\":\"2025-04-23 16:32:49\",\"Deactived\":0,\"DeactivedDetail\":[]},{\"PolicyId\":236806532,\"PolicyName\":\"v_pmmtian_tccli\",\"Type\":1,\"Description\":\"\",\"CreateMode\":3,\"Attachments\":2,\"ServiceType\":\"\",\"IsAttached\":null,\"IsServiceLinkedPolicy\":0,\"AttachEntityCount\":2,\"AttachEntityBoundaryCount\":0,\"AddTime\":\"2025-04-15
        17:27:58\",\"UpdateTime\":\"2025-04-15 17:27:58\",\"Deactived\":0,\"DeactivedDetail\":[]},{\"PolicyId\":236806310,\"PolicyName\":\"TF_QcloudAccessForTKERole\",\"Type\":1,\"Description\":\"\",\"CreateMode\":2,\"At[...]
- request:
    body: '{"PolicyId": 239026683}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - e0182db2-d16f-4b4a-b64b-68448e395098
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2025-04-23 16:32:49","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"vpc:DescribeAddressInventory\",\"vpc:DescribeBandwidthPackages\",\"vpc:DescribeVpcEx\",\"vpc:DescribeSubnetEx\"],\"effect\":\"allow\",\"resource\":[\"*\"]},{\"action\":[\"cvm:RunInstances\"],\"effect\":\"allow\",\"resource\":[\"*\"]},{\"action\":[\"tag:GetTagKeys\",\"tag:GetTagValues\",\"tag:GetTags\"],\"effect\":\"allow\",\"resource\":[\"*\"]}],\"version\":\"2.0\"}","PolicyName":"policygen-20250423163246","PresetAlias":null,"RequestId":"c2f82c98-e04c-474a-928f-3b8b7c3ab39c","Type":1,"UpdateTime":"2025-04-23
        16:32:49"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - e0182db2-d16f-4b4a-b64b-68448e395098
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 222442159}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - 7de6114e-c48e-41a8-97c2-101f238a73cd
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2024-10-15 15:29:55","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"cos:*\"],\"condition\":{\"for_any_value:string_equal\":{\"qcs:resource_tag\":[\"msliu-tokyo\\u0026msliu-tokyo\"]}},\"effect\":\"allow\",\"resource\":\"*\"},{\"action\":[\"cos:CreateAutoBackup\",\"cos:CreateInstantBackup\",\"cos:CreateJob\",\"cos:DeleteJob\",\"cos:DescribeAutoBackup\",\"cos:DescribeBackupTask\",\"cos:DescribeGsPkgConfig\",\"cos:DescribeJob\",\"cos:DescribeStatCosPackage\",\"cos:GetBucketBandwidthQuota\",\"cos:GetService\",\"cos:ListJobs\",\"cos:PutBucket\",\"cos:PutBucketBandwidthQuota\",\"cos:RenewBucketBandwidthQuota\",\"cos:UpdateJobPriority\",\"cos:UpdateJobStatus\",\"cos:UpgradeBucketBandwidthQuota\"],\"effect\":\"allow\",\"resource\":\"*\"}],\"version\":\"2.0\"}","PolicyName":"policygen-20241015152822","PresetAlias":null,"RequestId":"37a57560-d85f-4a2f-82c7-6e631a083d05","Type":1,"UpdateTime":"2024-10-15
        15:29:55"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 7de6114e-c48e-41a8-97c2-101f238a73cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 220176032}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - 4e12e0c4-bb59-4a01-aca8-7c60d247e427
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2024-09-25 10:49:45","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"*\"],\"condition\":{\"ip_equal\":{\"qcs:ip\":[\"112.216.251.234\"]}},\"effect\":\"deny\",\"resource\":[\"*\"]}],\"version\":\"2.0\"}","PolicyName":"testXH","PresetAlias":null,"RequestId":"fd931e60-132e-4da4-8057-22c0f8a9ce8a","Type":1,"UpdateTime":"2024-09-25
        10:49:45"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 4e12e0c4-bb59-4a01-aca8-7c60d247e427
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 210846446}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - 804cbb0e-dcdc-40ca-a602-1b3db3e284d3
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2024-05-30 18:00:18","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"principal\":{\"qcs\":[\"qcs:cam::uin/100009291175:uin/200023116737\",\"qcs:cam::uin/100009291175:uin/4611686028425437937\"]},\"statement\":[{\"action\":[\"*\"],\"effect\":\"allow\",\"resource\":[\"qcs:*:other::uin/100009291175:*\"]}],\"version\":\"2.0\"}","PolicyName":"ProjectTEST111","PresetAlias":null,"RequestId":"2576d2ed-8fb9-4320-bfd3-c40bddffb70c","Type":1,"UpdateTime":"2024-05-30
        18:00:18"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 804cbb0e-dcdc-40ca-a602-1b3db3e284d3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 192727999}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - be904056-dc3d-4974-b184-7792e94fece5
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2023-12-06 12:32:07","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"*\"],\"condition\":{\"numeric_equal\":{\"mfa\":0}},\"effect\":\"allow\",\"resource\":[\"*\"]}],\"version\":\"2.0\"}","PolicyName":"tttttt2","PresetAlias":null,"RequestId":"1c7bfbeb-1f8c-4bac-959a-5b366796330a","Type":1,"UpdateTime":"2023-12-06
        12:32:07"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - be904056-dc3d-4974-b184-7792e94fece5
    status:
      code: 200
      message: OK
- request:
    body: '{"PolicyId": 192727847}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - b5393f15-3ef0-4d87-8c1c-713209f3c088
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2023-12-06 12:28:49","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"*\"],\"condition\":{\"numeric_not_equal\":{\"mfa\":1}},\"effect\":\"allow\",\"resource\":[\"*\"]}],\"version\":\"2.0\"}","PolicyName":"ttttt","PresetAlias":null,"RequestId":"8bf702cc-bc88-41a8-bc7e-7b2118dd0e5b","Type":1,"UpdateTime":"2023-12-06
        12:41:26"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - b5393f15-3ef0-4d87-8c1c-713209f3c088
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 185421131}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - 775f3a69-b317-4b05-bb91-a7b1a6565214
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2023-11-07 11:18:24","Description":"This policy
        is for the Workorder service role(workorder_QCSRole) to be associated and
        used by Workorder to temporary access other cloud service resources.","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"tke:DescribeClusterSecurity\",\"tke:DescribeClusters\"],\"condition\":{\"date_less_than\":{\"qcs:token_create_time\":\"2024-01-11T16:00:04Z\"}},\"effect\":\"allow\",\"resource\":\"qcs::tke:ap-singapore:uin/100009291175:cluster/cls-lxc703xw\"}],\"version\":\"2.0\"}","PolicyName":"QcloudTempAccessForWorkorderRoleInTKE","PresetAlias":null,"RequestId":"9a56cae0-7353-43c7-97af-71a3f08ee276","Type":1,"UpdateTime":"2024-01-11
        16:01:18"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 775f3a69-b317-4b05-bb91-a7b1a6565214
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 166352504}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - af3b318f-18bb-4e3f-b669-d25c0b8b95c7
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AddTime":"2023-07-06 16:00:58","Description":"","IsServiceLinkedRolePolicy":0,"PolicyDocument":"{\"statement\":[{\"action\":[\"*\"],\"condition\":{\"ip_not_equal\":{\"qcs:ip\":[\"124.93.223.78/24\"]}},\"effect\":\"deny\",\"resource\":[\"*\"]}],\"version\":\"2.0\"}","PolicyName":"Infra-Office-testforcom2us","PresetAlias":null,"RequestId":"25de9d37-74d3-408e-8fe3-ed948fb76432","Type":1,"UpdateTime":"2023-07-06
        16:00:58"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - af3b318f-18bb-4e3f-b669-d25c0b8b95c7
    status:
      code: 200
      message: OK
[...]
